{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/cart_view.css">
{% endblock %}

{% block content %}           

    <h1>YOUR CART</h1>      

    <table>

        <tr>
            <th>SN</th> <th>ID</th> <th>Product</th>  <th>Price</th> <th> - 1</th> <th>Quantity</th> <th> + 1</th> <th>Sum</th> <th> Delete the whole position </th> 
        </tr>

        {% set i = 0 %}
        {% for id, quantity in cartArray %}
        
        <tr>

            <td> {% set i = i + 1 %} {{i}}</td>
            <td> {{id}} </td>
            <td>  </td>
            <td>  </td>
            <td> <a class="button" href="{{ path('product_fromcart', {id: id}) }}"><span class="plus">  &#8722  </span></a><br> </td>

            <td> {{quantity}} </td>

            <td> <a class="button" href="{{ path('product_tocart', {id: id}) }}"><span class="plus"> + </span></a> </td>

            <td>  </td>

            <td> <a class="button" href="{{ path('delete_whole_product_from_cart',  {id: id}) }}"> <span class="plus"> &#x2718 </span> </a>   </td>

        </tr>
        {% endfor %}

    </table>

    <h4>Total sum: </h4> <br>

{% endblock %}
