{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/cart_view.css">
{% endblock %}

{% block content %}           

    <h1>YOUR CART</h1>      

    {{form_start(form)}}           
            <table>

                <tr>
                    <th>SN</th> <th>ID</th> <th>Product</th>  <th>Price</th> <th> - 1</th> <th>Quantity</th> <th> + 1</th> <th>Sum</th> <th> Delete the whole position </th> 
                </tr>

                {% set i = 0 %}
                {% set sum = 0 %}
                
                {% for orderProduct in arrayOfOrderProductsInCart %}
                <tr>

                    <td align = 'center'> {% set i = i + 1 %} {{i}}</td>
                    <td align = 'center'> {{orderProduct.products.id}} </td>
                    <td align = 'center'> {{orderProduct.products}} </td>
                    <td align = 'center'> {{orderProduct.products.price}} </td>
                    <td align = 'center'> <a class="button" href="{{ path('product_fromcart', {id :orderProduct.products.id}) }}"><span class="plus">  &#8722  </span></a><br> </td>

                    <td align = 'center'> 
                        
                        {% for amount in form.amounts %}  

                            {% if loop.index == i %}
                                {{form_widget  (amount) }}
                            {% endif %}
                                
                        {% endfor %}  

                    </td>

                    <td align = 'center'> <a class="button" href="{{ path('product_tocart', {id :orderProduct.products.id}) }}"><span class="plus"> + </span></a> </td>

                    <td align = 'center'> 
                        {{orderProduct.getTotalValue}} 
                        {% set sum = sum + orderProduct.products.price * orderProduct.amount %} 
                    </td>

                    <td align = 'center'> 

                        {% for delete in form.delete_products %}  

                            {% if loop.index == i %}
                                {{form_widget (delete) }}
                            {% endif %}
                                
                        {% endfor %}      

                    </td>

                </tr>
                {% endfor %}

            </table>
            <br>
    
            <div class = 'form'>
                {{form_row(form.send)}}
            </div>

            <div class = 'form'>
                {{form_row(form.refresh)}}
            </div>
            
            <div class = 'form'>
                {{form_row(form.reset)}}
            </div>
            <div style = 'clear:both'></div>

    {{form_end(form)}}

    {% for key, value in app.session.all %}
            
                {% if key starts with 'note' %}               
                    <span style="color:red">{{ value }}</span><br>
                {% endif %}
           
       
    {% endfor %}
   
    <h4>Total sum:   <span class="plus"> {{ sum }} $. </span> </h4> <br>

    <br><br><a href="{{ path('products') }}">  BACK TO THE LIST OF PRODUCTS >> </a>

{% endblock %}
