{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/cart_view.css">
{% endblock %}

{% block content %}           

    <h1>YOUR CART</h1>      

    <table>

        <tr>
            <th>SN</th> <th>ID</th> <th>Product</th>  <th>Price</th> <th> - 1</th> <th>Quantity</th> <th> + 1</th> <th>Sum</th> <th> Delete the whole position </th> 
        </tr>

        {% set i = 0 %}
        {% set sum = 0 %}
        {% for orderProduct in arrayOfOrderProductsObjectsInCart %}
        <tr>

            <td align = 'center'> {% set i = i + 1 %} {{i}}</td>
            <td align = 'center'> {{orderProduct.products.id}} </td>
            <td align = 'center'> {{orderProduct.products}} </td>
            <td align = 'center'> {{orderProduct.products.price}} </td>
            <td align = 'center'> <a class="button" href="{{ path('product_fromcart', {id :orderProduct.products.id}) }}"><span class="plus">  &#8722  </span></a><br> </td>

        {% set i = 0 %}
            <td align = 'center'> {{orderProduct.amount}} </td>

            <td align = 'center'> <a class="button" href="{{ path('product_tocart', {id :orderProduct.products.id}) }}"><span class="plus"> + </span></a> </td>

            <td align = 'center'> 
                    {{orderProduct.getTotalValue}} 
                    {% set sum = sum + orderProduct.products.price * orderProduct.amount %} 
            </td>

            <td align = 'center'> <a class="button" href="{{ path('delete_whole_product_from_cart',  {id :orderProduct.products.id}) }}"> <span class="plus"> &#x2718 </span> </a>   </td>

        </tr>
        {% endfor %}

    </table>

    <h4>Total sum:   <span class="plus"> {{ sum }} zł. </span> </h4> <br>

    <br><br><a href="{{ path('products') }}">  BACK TO THE LIST OF PRODUCTS >> </a>

{% endblock %}
