{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/category_edit.css">
{% endblock %}

{% block content %}           

    <h1>CHANGING CATEGORIES</h1>     

    <span>You are changing the category with id {{id}}:</span><br>
        Name:  {{category.name}}  <br>
    {% if category.parent.name is defined %}
        Parent: {{category.parent.name}} <br>
    {% else %}
        Parent: without Parent <br>
    {% endif %}
    <br><br>

    <span>Enter your changes:</span><br>
    {{form(form1)}}
    <br>

    {% if childCategories is not empty %}
            
        <span>List of child categories of {{category.name}} :</span><br>

        {% for childCat in childCategories %} 
            
            <a href="{{ path('category_edit', {id: childCat.id}) }}">{{childCat.name}}</a><br>
            
        {% endfor %}

    {% else %}
        <span>List of child categories of {{category.name}} : 0</span><br>
    {% endif %}
               
    

        <button type="button"><a class="button" target="_blank" href="{{ path('category_add', {id: id}) }}">Add another child</a></button>
   
{% endblock %}
