{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/product.css">
{% endblock %}

{% block content %}  

    <div class = 'cart' align = 'right'>
        <a href="{{ path('cart_view') }}">  Your CART ( {{app.session.get('totalQuantity', 0)}} ) >> </a>
    </div>
    

    <h1>ITEM's INFORMATION</h1>      

    {{product.id}}. {{product.name}} - {{product.price}}$ ({{product.description}})<br>

    {% if product.image != null %}
        <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="product">
    {% else %}
        <span id = "image">     < no image ></span>
    {% endif %}

    <br><br>

    <a class="button" href="{{ path('product_tocart', {id: id}) }}"><span class="plus"> + </span></a>
    
    <span style = "font-size:40px; white-space: pre; ">    {{quantity}} product/s in cart    </span>

   {# {% if quantity is defined and quantity != null %} 
        <a class="button" href="{{ path('product_fromcart', {id: id}) }}"><span class="plus">  &#8722  </span></a><br>
    {% endif %}  #}

    <br><br><a href="{{ path('products') }}">  BACK TO THE LIST OF PRODUCTS >> </a>
    
{% endblock %}